<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Give2Charity</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="../register/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../register/css/style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="../register/images/signup-img.jpg" alt="">
                </div>
                <div class="signup-form">
                    <form action="/register" method="POST" class="register-form" id="register-form">
                        <h2>SignUp here</h2>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="fname">first name :</label>
                                <input type="text" name="fname" id="fname" required/>
                            </div>
                            <div class="form-group">
                                <label for="lname">last name :</label>
                                <input type="text" name="lname" id="lname" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Address :</label>
                            <input type="text" name="address" id="address" required/>
                        </div>
                        <!-- <div class="form-radio">
                            <label for="gender" class="radio-label">Gender :</label>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="male" checked>
                                <label for="male">Male</label>
                                <span class="check"></span>
                            </div>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="female">
                                <label for="female">Female</label>
                                <span class="check"></span>
                            </div>
                        </div> -->
                        <div class="form-row">
                            
                                
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <input type="text" name="state" id="state" required/>
                                </div>
                            
                                <div class="form-group">
                                    <label for="city">city</label>
                                    <input type="text" name="city" id="city" required/>
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="country">country</label>
                            <input type="text" name="country" id="country" required/>
                        </div>
                        <div class="form-group">
                            <label for="pincode">Pincode :</label>
                            <input type="text" name="pincode" id="pincode">
                        </div>
                        
                        <div class="form-group">
                            <label for="username">Email ID :</label>
                            <input type="email" name="username" id="username" />
                        </div>
                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="password" name="password" id="password" required/>
                        </div>
                        <div class="form-submit">
                            
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="../register/vendor/jquery/jquery.min.js"></script>
    <script src="../register/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>